

/* header styles */
header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  z-index: 10;
  position: fixed;
  border-bottom: 1px solid #000;
  width: 100%;
  height: 80px;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo span {
  color: #66cdaa;
  padding-left: 10px;
}

/* nav styles in header */
nav {
  padding-right: 30px;
}

nav span {
  display: inline-block;
  padding: 30px 10px;
}

nav a {
  color: #000;
}

/* main content */
div {
  display: block;
}
.main-content {
  display: flex;
  width: 1232px;
  margin: 0 auto 72px auto;
  padding-top: 116px;
}

/* flex column styles */
.column {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.column.large {
  width: 630px;
  border: 1px solid #000;
}

.column.medium {
  width: 300px;
  border: 1px solid #000;
}

.column.small {
  width: 240px;
  border: 1px solid #000;
}
