body {
  margin: 0;
}

/* header styles */
header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  z-index: 10;
  position: fixed;
  border-bottom: 1px solid #000;
  width: 100%;
  height: 80px;
  background-color: #fff;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo span {
  color: #66cdaa;
  padding-left: 10px;
}

/* nav styles in header */
nav {
  padding-right: 30px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

nav a {
  color: #000;
}

/* main content */
.main-content {
  display: flex;
  width: 1232px;
  margin: 0 auto 72px auto;
  padding-top: 116px;
  z-index: 5;
}

/* flex column styles */
.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

/* image content styles */
.image-content {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px;
  height: 300px;
  font-size: 30px;
  font-weight: bold;
  font-family: Georgia;
  text-align: center;
}

.lead-story .image-content {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  margin-top: 0;
  width: 630px;
  font-size: 40px;
  text-align: left;
}

.earth-spin.image-content {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);

}

.research.image-content {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);

}

.cat-control.image-content {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);

}
/* text content styles */
h2 {
  display: flex;
  font-weight: bold;
}

.news-bites h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 40px;
  text-align: center;
}

.bites {
  display: block;
  padding: 10px 20px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #000;
  font-family: Verdana;
  font-size: 12px;
  color: #6969;
}

.stories {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

.stories .text-content {
  height: 250px;
}

.story {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.para-content {
  margin-top: 16px;
}

/* footer styles */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 325px;
  background-color: #66cdaa;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
}

footer .title {
  display: inline-block;
  padding-right: 25px;
  border-right: 2px solid #fff;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

footer nav {
  display: inline-block;
  padding: 25px;
}
